body {
	background-image: url("../img/capybara.jpg");
	font-family: "HelveticaNeue";
	font-size: 20px;
	padding: 0px;
	margin: 0px;
}

header {
	background-color: white;
	margin: 0px;
	padding: 0px;
}

header a {
	font-size: 60px;
	color: brown;
}

a {
	text-decoration: none;
	color: brown;
}

h3 {
	position: fixed;
	top: 30px;
	right: 30px;
	color: brown;
}

input {
	margin: 3px;
	padding: 1px;
	border-radius: 3px;
	border: 1px solid black;
	font-weight: normal;
	font-size: 20px;
}

button {
	background-color: brown; background-image: -webkit-gradient(linear, left top, left bottom, from(brown), to(#A95050));
	text-decoration: none;
	color: white;
	border: 0px;
	border-radius: 3px;
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
}

.button-wrapper {
	margin: auto;
	text-align: center;
	margin: 5px;
}

.forms {
	position: fixed;
	right: 80px;
	top: 100px;
	border: white 2px solid;
	background-color: white;
	border-radius: 10px;
	width: 250px;
	padding: 10px;
}

.signout-form {
	position: fixed;
	top: 15px;
	right:30px;
}

.list-peeps {
	background-color: white;
	display: inline-block;
	text-align: left;
	border-radius: 15px;
	padding: 15px;
	position: fixed;
	top: 100px;
	left: 100px;
	width: 500px;
}

.peep-text {
	background-color: #ddd;
	border-radius: 5px;
	display: inline-block;
}

.timestamp {
	display: block;
	font-size: 10px;
}

.each-peep {
	margin: 15px;
}

.peep-username {
	color: brown;
}

.hashtag {
	color: #C97F7F;
}

.sessions-inputs {
	text-align: center;
}

.sessions-text {
	margin: 18px;
	color: brown;
}

ul {
	list-style-type: none;
	padding: 0px;
}

li {
	padding: 5px;
	margin: 0px;
}




