html, body {
	background-image: url("../img/capybara.jpg");
	font-family: "HelveticaNeue";
	font-size: 20px;
	padding: 0px;
	margin: 0px;
	overflow: auto;
	background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
	background-color: white;
	margin: 0px;
	padding: 0px;
	position: relative;
}

a {
	text-decoration: none;
	color: brown;
}

h3 {
	position: fixed;
	top: 30px;
	right: 30px;
	color: brown;
}

input {
	margin: 5px;
	padding: 1px;
	border-radius: 2px;
	border: 1px solid black;
	font-weight: normal;
	font-size: 18px;
	background-color: #f2f2f2;
	color: black;
}

button {
	background-color: brown; background-image: -webkit-gradient(linear, left top, left bottom, from(brown), to(#A95050));
	text-decoration: none;
	color: white;
	border: 0px;
	border-radius: 3px;
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
}


.logo {
	font-size: 80px;
	font-weight: 600;
	color: brown;
	position: relative;
	left: 50px;
	letter-spacing: 3px;
}

.forms {
	position: fixed;
	right: -40px;
	top: 100px;
	background-color: rgba(255,255,255,0.7);
	border-radius: 12px;
	width: 250px;
	padding: 10px;
	margin: 30px;
}

.list-peeps {
	background-color: rgba(255,255,255,0.7);
	display: inline-block;
	text-align: left;
	border-radius: 15px;
	padding: 5px;
	position: relative;
	top: 30px;
	width: 500px;
}

.list-peeps-wrapper {
  	text-align: center;
}

.signout-form {
	position: fixed;
	top: 15px;
	right:30px;
}

.button-wrapper {
	margin: auto;
	text-align: center;
	margin: 5px;
}

.peep-text {
	background-color: #f2f2f2;
	border-radius: 5px;
	display: inline-block;
	text-align: left;
	margin: 2px;
}

.timestamp {
	display: block;
	font-size: 10px;
}

.each-peep {
	margin: 15px;
	opacity: 1;
}

.peep-username {
	color: brown;
}

.hashtag {
	color: #C97F7F;
}

.sessions-inputs {
	text-align: center;
}

.sessions-text {
	margin: 15px;
	color: brown;
}

.body-wrapper {
	height: 100%;
}

.peeps-heading {
	color: brown;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
}

ul {
	list-style-type: none;
	padding: 0px;
	height: 100%;

}

li {
	padding: 5px;
	margin: 0px;
}




