<main class='list-peeps'>
 	<ul>
 		<% @peeps.each do |peep| %>
 			<article class='each-peep'>
 				<section class='peep-text'>
		 			<li>
		 					<a href="/users/<%= peep.user.username %>" class='peep-username'><b>@<%= peep.user.username %></b></a>
		 				<%= peep.text %>
		 		</section>
	 					<span class='timestamp'><em><%= peep.time %></em></span><br>
	 				</li>
	 		</article>
	 	<% end %>
	 </ul>
</main>
