<main id='list-peeps'>
 	<ul>
 		<% @peeps.each do |peep| %>
 			<article class='each-peep'>
	 			<li>
	 					<a href="/users/<%= peep.user.username %>" class='peep-username'><b>@<%= peep.user.username %></b></a>
	 					<%= peep.text %>
	 					<span class='timestamp'><em><%= peep.time %></em></span>
	 			</li>
	 		</article>
	 	<% end %>
	 </ul>
</main>