<% if @user %>
<% then %>
Welcome, <%= @user.username %>!
<% else %>
Don't have an account? Enter your details to sign up.
<form action='/' method='post'>
	Email: <input type='text' name='email'>
	Password: <input type='password' name='password'>
	Confirm password: <input type='password' name='password_confirmation'>
	Username: <input type='text' name='username'>
	<input type='submit' value='Sign up'>
</form>
<% end %>