<% if current_user %>
	<form method='post' action='/peep' class='peep-form'>
		<input type='text' name='peep' size='100' value='Post a peep!'>
		<input type='submit' value='Post your peep!'>
	</form>
<% end %>
<%= erb :display_peeps %>
