<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/css/application.css" rel="stylesheet" type="text/css" />
	<title>Chitter</title>
</head>
<body>
<main class='body-wrapper'>
	<header>
		<a href='/' class='logo'>Chitter</a>
		<% if current_user %>
			<h3>Signed in as @<%= current_user.username %></h3>
			<form method='post' action='/sessions' class='signout-form'>
				<input type='hidden' name='_method' value='delete'>
				<input type='submit' value='Sign out'>
			</form>
		<% end %>
	</header>
	<%= erb :sessions_forms %>
	<%= yield %>
</main>
</body>
</html>

