<% if current_user == nil %>
	<aside class='forms' id='session-forms'>
		<p class='sessions-text'>Don't have an account? Enter your details to <strong>sign up.</strong></p>
		<section class='sessions-inputs'>
			<form action='/sessions' method='post' class='signup'>
				<input type='text' name='email' placeholder='Email'>
				<input type='password' name='password' placeholder='Password'>
				<input type='password' name='password_confirmation' placeholder='Confirm password'>
				<input type='text' name='username' placeholder='Username'>
				<div class='button-wrapper'>
					<button type='submit'>Sign up</button>
				</div>
			</form>
		</section>
		<p class='sessions-text'>Already a registered user? <strong>Sign in here.</strong></p>
		<section class='sessions-inputs'>
			<form action='/sessions/new' method='post' class='signin-form'>
				<input type='text' name='email_login' placeholder='Email'>
				<input type='password' name='password_login' placeholder='Password'>
				<div class='button-wrapper'>
					<button type='submit'>Sign in</button>
				</div>
			</form>
		</section>
	</aside>
<% end %>