Please enter your details.
<form action='/user/sign_up' method='post'>
	Email: <input type='text' name='email'>
	Password: <input type='password' name='password'>
	Confirm password: <input type='password' name='password_confirmation'>
	<input type='submit' value='Sign up'>
</form>